<div class="flex items-baseline justify-between border-b border-gray-200 py-8" id="ofertas">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white uppercase">Ofertas
    </h1>
</div>

<div class="flex relative rounded-xl overflow-hidden items-center justify-center my-3 py-6">
    <div class="cursor-pointer flex items-center justify-center w-8 h-8 p-2 m-3 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 hover:bg-white/50 dark:hover:bg-gray-800/60"
        (click)="scrollPrevious()">
        <i class='bx bx-chevron-left bx-md'></i>
    </div>
    <div *ngIf="offerProducts" class="relative flex gap-6 snap-x overflow-hidden" #product>
        <div class="snap-start min-w-[13rem] max-w-[13rem]" *ngFor="let product of offerProducts">
            <a href="producto/{{ product.slug }}" class="group">
                <div class="bg-white dark:bg-gray-800 dark:text-white rounded-lg overflow-hidden border border-gray-200 dark:border-0 shadow-md h-full">
                    <div class="overflow-hidden bg-white">
                        <div class="badge badge-secondary inline-block relative float-right text-xs m-2"><i class="bx bxs-offer bx-xs inline-block align-middle mr-1"></i> {{product.discount | percent}}</div>
                        <img class="bg-white object-contain object-center w-full mx-auto min-h-[10rem] max-h-[10rem] group-hover:opacity-75 transform group-hover:scale-105  group-hover:ease-out duration-500"
                            src="{{ product.images[0] }}">
                    </div>
                    <div class="m-2 h-full">
                        <h2 class="uppercase font-bold line-clamp-1">{{ product.name }}</h2>
                        <div class="flex my-1">
                            <div *ngIf="product.old_price > 0" class="badge badge-xs badge-primary text-xs mr-1">Oferta</div>
                            <div *ngIf="product.stock > 0" class="badge badge-info badge-outline badge-xs mx-1">
                                    Existencia<i class="fa-solid fa-check ml-1"></i>
                            </div>
                            <div class="badge badge-secondary badge-outline badge-xs">
                                    <a class="inline-block align-middle" href="/productos/category/{{ product.category[0]._id }}">
                                    {{ product.category[0].category }}
                                </a>
                            </div>
                        </div>
                        <p class="tracking-tighter uppercase line-clamp-1 text-xs">{{ product.description }}</p>
                        <div class="flex justify-center">
                            <p class="text-lg font-medium text-gray-900 dark:text-white text-end">{{ product.price |
                                currency }}</p>
                            <p class="text-sm font-light text-gray-500 line-through pl-1 text-start">{{
                                product.old_price | currency }}</p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="snap-center min-w-[13rem] max-w-[13rem]">
            <a href="/productos/ofertas" class="group">
                <div
                    class="bg-white dark:bg-gray-800 rounded-lg border border-pink-500 dark:border-cyan-400 shadow-md h-full">
                    <div class="flex items-center justify-center h-full">
                        <button class="btn btn-secondary dark:btn-info rounded-full h-24 w-24 p-3">Ver más ofertas<i
                                class='bx bx-right-arrow-alt bx-lg pl-1'></i></button>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="cursor-pointer flex items-center justify-center w-8 h-8 p-2 m-3 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 hover:bg-white/50 dark:hover:bg-gray-800/60"
        (click)="scrollNext()">
        <i class='bx bx-chevron-right bx-md'></i>
    </div>
</div>