<div class="dark:bg-gray-800 rounded-lg shadow-lg border border-gray-300/60 dark:border-0 divide-y divide-gray-200 dark:divide-gray-700 dark:text-white mb-3">
    <div class="dark:border-gray-700 p-3">
        <span class="font-semibold">Facturación</span>
    </div>
    <div class="grid grid-cols-6 gap-3 p-3">
        <div class="col-span-6">
            <span class="text-sm font-semibold">Razón social</span>
            <input type="text" value="BuildItUp S.L." class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
            <div class="grid col-span-1 lg:grid-cols-2 gap-2">
                <div class="col-span-1">
                    <span class="text-sm font-semibold">RFC</span>
                    <input type="text" value="PEPL010101L65" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500 uppercase">
                </div>
                <div class="col-span-1">
                    <span class="text-sm font-semibold">Régimen fiscal</span>
                    <input type="email" value="Incorporación fiscal" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
                </div>
            </div>
            <span class="text-sm font-semibold">Tipo de contribuyente</span>
            <input type="email" value="Persona Física" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
            <div class="font-semibold py-3">Domicilio fiscal</div>
            <div class="grid col-span-1 lg:grid-cols-3 gap-2">
                <div class="col-span-1">
                    <span class="text-sm font-semibold">Estado</span>
                    <div class="flex my-2">
                        <select class="dark:bg-gray-600 rounded-lg p-2 border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500 w-full">
                                    <option value="0">Selecciona un estado</option>
                                    <option value="1">Aguascalientes</option>
                                    <option value="2">Baja California</option>
                                    <option value="3">Baja California Sur</option>
                                    <option value="4">Campeche</option>
                                    <option value="5">Chiapas</option>
                                    <option value="6">Chihuahua</option>
                                    <option value="7">Coahuila</option>
                                    <option value="8">Colima</option>
                                    <option value="9">Distrito Federal</option>
                                    <option value="10">Durango</option>
                                    <option value="11" selected="selected">Guanajuato</option>
                                    <option value="12">Guerrero</option>
                                    <option value="13">Hidalgo</option>
                                    <option value="14">Jalisco</option>
                                    <option value="15">Estado de México</option>
                                    <option value="16">Michoacán</option>
                                    <option value="17">Morelos</option>
                                    <option value="18">Nayarit</option>
                                    <option value="19">Nuevo León</option>
                                    <option value="20">Oaxaca</option>
                                    <option value="21">Puebla</option>
                                    <option value="22">Querétaro</option>
                                    <option value="23">Quintana Roo</option>
                                    <option value="24">San Luis Potosí</option>
                                    <option value="25">Sinaloa</option>
                                    <option value="26">Sonora</option>
                                    <option value="27">Tabasco</option>
                                    <option value="28">Tamaulipas</option>
                                    <option value="29">Tlaxcala</option>
                                    <option value="30">Veracruz</option>
                                    <option value="31">Yucatán</option>
                                    <option value="32">Zacatecas</option>
                        </select>
                    </div>
                </div>
                <div class="col-span-2">
                    <span class="text-sm font-semibold">Ciudad</span>
                    <input type="email" value="Salamanca" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
                </div>
            </div>
            <div class="grid col-span-1 lg:grid-cols-3 gap-2">
                <div class="col-span-2">
                    <span class="text-sm font-semibold">Colonia</span>
                    <input type="text" value="Ampliación Bellavista" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
                </div>
                <div class="col-span-1">
                    <span class="text-sm font-semibold">CP</span>
                    <input type="text" value="36730" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
                </div>
            </div>
        </div>
    </div>
    <div class="grid justify-end p-2">
        <button class="rounded-lg bg-indigo-600 text-white text-sm font-semibold py-2 px-3">Guardar cambios</button>
    </div>
</div>
