<div class="dark:bg-gray-800 rounded-lg shadow-lg border border-gray-300/60 dark:border-0 divide-y divide-gray-200 dark:divide-gray-700">
    <div class="dark:border-gray-700 p-3">
        <div class="flex justify-between ">
            <span class="dark:text-white text-sm font-semibold line-clamp-2">Memoria RAM Fury Beast DDR4 gamer color negro 16GB 1 Kingston KF426C16BB1/16</span>
            <a href="" class="hover:opacity-70">
                <i class='bx bxs-heart bx-sm text-indigo-600 inline-block align-middle'></i>
            </a>
        </div>
    </div>
    <div class="grid lg:grid-cols-6 gap-3 p-3">
        <div class="col-span-3 lg:col-span-1">
            <img class="bg-cover bg-center max-w-28 max-h-28 rounded-lg" src="https://http2.mlstatic.com/D_724624-MLA48636298719_122021-N.jpg" alt="">
        </div>
        <div class="col-span-3 lg:col-span-3">
            <p class="dark:text-white font-semibold line-clamp-1">memoria-ram-fury-beast-ddr4-gamer-color-negro-16gb-1-kingston-kf426c16bb116</p>
            <p class="text-gray-500 text-sm line-clamp-1">Disponible</p>
            <p class="text-green-600 dark:text-green-500/70">Envío gratis</p>
            <p class="dark:text-white pt-2">$794.00</p>
        </div>
        <div class="col-span-6 lg:col-span-2">
            <button class="rounded-lg text-white bg-indigo-700 w-full font-semibold hover:opacity-70 text-sm p-2 my-1">Comprar ahora</button>
            <button class="rounded-lg dark:text-white border border-gray-400 dark:border-gray-600 w-full font-semibold hover:bg-gray-400 dark:hover:bg-gray-600 text-sm p-2 my-1">Ver más</button>
        </div>
    </div>
</div>
