<div class="dark:bg-gray-800 rounded-lg shadow-lg border border-gray-300/60 dark:border-0 divide-y divide-gray-200 dark:divide-gray-700">
    <div class="dark:border-gray-700 p-3">
        <span class="dark:text-white text-sm font-semibold">17 de marzo</span>
    </div>
    <div class="grid lg:grid-cols-6 gap-3 p-3">
        <div class="col-span-3 lg:col-span-1">
            <img class="bg-cover bg-center max-w-28 max-h-28 rounded-lg" src="https://http2.mlstatic.com/D_724624-MLA48636298719_122021-N.jpg" alt="">
        </div>
        <div class="col-span-3 lg:col-span-3">
            <p class="text-green-600 dark:text-green-500/70">Entregado</p>
            <p class="dark:text-white font-semibold">Llegó el 18 de marzo</p>
            <p class="text-gray-500 text-sm line-clamp-1 mt-2">memoria-ram-fury-beast-ddr4-gamer-color-negro-16gb-1-kingston-kf426c16bb116</p>
            <p class="text-gray-500 text-sm line-clamp-1">1 unidad</p>
        </div>
        <div class="col-span-6 lg:col-span-2">
            <button routerLink="/perfil/detalle-compra" class="rounded-lg text-white bg-indigo-700 w-full font-semibold hover:opacity-70 text-sm p-2 my-1">Ver compra</button>
            <button class="rounded-lg dark:text-white border border-gray-400 dark:border-gray-600 w-full font-semibold hover:bg-gray-400 dark:hover:bg-gray-600 text-sm p-2 my-1">Volver a comprar</button>
        </div>
    </div>
</div>

<div class="dark:bg-gray-800 rounded-lg shadow-lg border border-gray-300/60 dark:border-0 divide-y divide-gray-200 dark:divide-gray-700 my-3">
    <div class="dark:border-gray-700 p-3">
        <span class="dark:text-white text-sm font-semibold">16 de marzo</span>
    </div>
    <div class="grid lg:grid-cols-6 gap-3 p-3">
        <div class="col-span-3 lg:col-span-1">
            <img class="bg-cover bg-center max-w-28 max-h-28 rounded-lg" src="https://http2.mlstatic.com/D_NQ_NP_835553-MLA51325236484_082022-O.webp" alt="">
        </div>
        <div class="col-span-3 lg:col-span-3">
            <p class="text-green-600 dark:text-green-500/70">Entregado</p>
            <p class="dark:text-white font-semibold">Llegó el 15 de marzo</p>
            <p class="text-gray-500 text-sm line-clamp-1 mt-2">procesador-gamer-amd-ryzen-5-5600g-100-100000252box-de-6-nucleos-y-44ghz-de-frecuencia-con-grafica-integrada</p>
            <p class="text-gray-500 text-sm line-clamp-1">1 unidad</p>
        </div>
        <div class="col-span-6 lg:col-span-2">
            <button routerLink="/perfil/detalle-compra" class="rounded-lg text-white bg-indigo-700 w-full font-semibold hover:opacity-70 text-sm p-2 my-1">Ver compra</button>
            <button class="rounded-lg dark:text-white border border-gray-400 dark:border-gray-600 w-full font-semibold hover:bg-gray-400 dark:hover:bg-gray-600 text-sm p-2 my-1">Volver a comprar</button>
        </div>
    </div>
    <div class="grid lg:grid-cols-6 gap-3 p-3">
        <div class="col-span-3 lg:col-span-1">
            <img class="bg-cover bg-center max-w-28 max-h-28 rounded-lg" src="https://http2.mlstatic.com/D_NQ_NP_960580-MLM53750127463_022023-O.webp" alt="">
        </div>
        <div class="col-span-3 lg:col-span-3">
            <p class="text-green-600 dark:text-green-500/70">Entregado</p>
            <p class="dark:text-white font-semibold">Llegó el 15 de marzo</p>
            <p class="text-gray-500 text-sm line-clamp-1 mt-2">fuente-poder-corsair-cx550f-rgb-550w-80bronze-cp-9020225</p>
            <p class="text-gray-500 text-sm line-clamp-1">1 unidad</p>
        </div>
        <div class="col-span-6 lg:col-span-2">
            <button routerLink="/perfil/detalle-compra" class="rounded-lg text-white bg-indigo-700 w-full font-semibold hover:opacity-70 text-sm p-2 my-1">Ver compra</button>
            <button class="rounded-lg dark:text-white border border-gray-400 dark:border-gray-600 w-full font-semibold hover:bg-gray-400 dark:hover:bg-gray-600 text-sm p-2 my-1">Volver a comprar</button>
        </div>
    </div>
</div>