<section>
    <div class="relative mx-auto max-w-screen-xl px-4 py-8">
        <div>
            <h1 class="text-2xl font-bold lg:text-3xl text-gray-900 dark:text-white">{{ items[0].name }}</h1>

            <p class="mt-1 text-sm text-gray-900 dark:text-white">SKU: #{{ items[0].sku }}</p>
        </div>

        <div class="grid gap-8 lg:grid-cols-6 lg:items-start">
            <div class="lg:col-span-4">
                <div class="relative mt-4 overflow-hidden rounded-lg group">
                    <img alt="Tee" [src]="items[selectedImageIndex].image"
                        class="h-full w-full transform hover:scale-125 ease-in-out duration-500" />

                    <div
                        class="absolute bottom-4 left-1/2 inline-flex -translate-x-1/2 items-center rounded-full bg-black/75 px-3 py-1.5 text-white opacity-0 group-hover:opacity-100">
                        <svg class="h-4 w-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                            stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0zM10 7v3m0 0v3m0-3h3m-3 0H7" />
                        </svg>

                        <span class="ms-1.5 text-xs"> Hover to zoom </span>
                    </div>
                </div>

                <div class="grid-flow-col flex mt-1 gap-1">
                    <div class="col-span-1 cursor-pointer" *ngFor="let item of items; let i = index"
                        (click)="selectImage(i)">
                        <img alt="image" [src]="item.image" class="h-16 w-16 rounded-md object-cover"
                            [ngClass]="{'border-2 border-blue-700': selectedImageIndex === item.id-1}" />
                    </div>
                </div>
            </div>

            <div class="lg:col-span-2 lg:sticky lg:top-0">
                <h1 class="font-semibold text-2xl text-gray-900 dark:text-white">{{ items[0].description }}</h1>
                <form class="space-y-4 lg:pt-8">
                    <fieldset>
                        <legend class="text-lg font-bold text-gray-900 dark:text-white">Cantidad</legend>

                        <div class="mt-2 flex flex-wrap gap-1">

                                <div class="flex items-center border border-gray-200 dark:border-gray-800 rounded">
                                    <button type="button" (click)="restar()"
                                        class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75">
                                        &minus;
                                    </button>

                                    <input type="number" id="Quantity"
                                        class="h-10 w-16 border-transparent text-center dark:text-white dark:bg-gray-800 sm:text-sm [&::-webkit-outer-spin-button]:m-0 [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:m-0 [&::-webkit-inner-spin-button]:appearance-none" min="0" max="{{items[0].stock}}" value="{{cantidad}}" ng-model="cantidad"/>

                                    <button type="button" (click)="sumar()"
                                        class="w-10 h-10 leading-10 text-gray-600 transition hover:opacity-75">
                                        &plus;
                                    </button>
                                </div>
                        </div>
                    </fieldset>
                    <div class="py-2">
                        <label class="text-lg font-bold text-gray-900 dark:text-white">Stock</label>
                        <p class="font-bold text-gray-900 dark:text-white">{{ items[0].stock }}</p>
                    </div>


                    <div class="rounded border dark:border-gray-700 dark:bg-gray-800 text-gray-900 dark:text-white p-4">
                        <p class="text-sm">
                            <span class="block"> Pay as low as $3/mo with 0% APR. </span>

                            <a href="" class="mt-1 inline-block underline"> Find out more </a>
                        </p>
                    </div>

                    <div class="flex justify-center">
                        <p class="font-semibold text-4xl text-gray-900 dark:text-white text-end">{{ items[0].price |
                            currency }}</p>
                        <p class="font-light text-lg text-gray-500 line-through pl-1 text-start">{{ items[0].oldPrice |
                            currency }}</p>
                    </div>

                    <label for="my-drawer-4" type="submit" class="drawer-button btn btn-accent w-full">
                        Add to cart
                    </label>

                    <button type="button" class="btn btn-secondary btn-outline w-full">
                        Notify when on sale
                    </button>
                </form>
            </div>
            <div class="lg:col-span-4">
                <div class="prose max-w-none text-gray-900 dark:text-white my-6">
                    <p>
                        {{ items[0].description }}
                    </p>
                </div>
                <img src="{{ items[0].landingPage }}" alt="" srcset="">
            </div>
        </div>
        <app-ofertas></app-ofertas>
    </div>
</section>