<div class="dark:bg-gray-800 rounded-lg shadow-lg border border-gray-300/60 dark:border-0 divide-y divide-gray-200 dark:divide-gray-700 dark:text-white">
    <div class="dark:border-gray-700 p-3">
        <span class="font-semibold">Información personal</span>
    </div>
    <div class="grid grid-cols-6 gap-3 p-3">
        <div class="grid justify-items-center col-span-6 lg:col-span-2 max-h-36">
            <span class="font-semibold">Avatar</span>
            <svg class="max-h-16 max-w-16 text-gray-300 rounded-full mx-auto my-2" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M18.685 19.097A9.723 9.723 0 0021.75 12c0-5.385-4.365-9.75-9.75-9.75S2.25 6.615 2.25 12a9.723 9.723 0 003.065 7.097A9.716 9.716 0 0012 21.75a9.716 9.716 0 006.685-2.653zm-12.54-1.285A7.486 7.486 0 0112 15a7.486 7.486 0 015.855 2.812A8.224 8.224 0 0112 20.25a8.224 8.224 0 01-5.855-2.438zM15.75 9a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" clip-rule="evenodd"></path>
            </svg>
            <button class="rounded-lg border border-gray-300 dark:border-gray-700 text-sm font-semibold py-2 px-3">Cambiar</button>
        </div>
        <div class="col-span-6 lg:col-span-4">
            <div class="grid col-span-1 lg:grid-cols-2 gap-2">
                <div class="col-span-1">
                    <span class="text-sm font-semibold">Nombre/s</span>
                    <input type="text" value="Luis" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
                </div>
                <div class="col-span-1">
                    <span class="text-sm font-semibold">Apellido/s</span>
                    <input type="text" value="Pérez" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
                </div>
            </div>
            <span class="text-sm font-semibold">Correo electrónico</span>
            <input type="email" value="luism1p3@hotmail.com" class="dark:bg-gray-600 rounded-lg my-2 w-full opacity-70 border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500" disabled>
            <span class="text-sm font-semibold">Teléfono</span>
            <input type="email" value="4641597276" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
            
        </div>
    </div>
    <div class="grid justify-end p-2">
        <button class="rounded-lg bg-indigo-600 text-white text-sm font-semibold py-2 px-3">Guardar cambios</button>
    </div>
</div>

<div class="dark:bg-gray-800 rounded-lg shadow-lg border border-gray-300/60 dark:border-0 divide-y divide-gray-200 dark:divide-gray-700 dark:text-white mt-3">
    <div class="dark:border-gray-700 p-3">
        <span class="font-semibold">Cambiar contraseña</span>
    </div>
    <div class="p-3">
        <span class="text-sm font-semibold">Contraseña anterior</span>
        <input type="password" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
        <span class="text-sm font-semibold">Nueva contraseña</span>
        <input type="password" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
        <span class="text-sm font-semibold">Confirmar contraseña</span>
        <input type="password" class="dark:bg-gray-600 rounded-lg my-2 w-full border-0 ring-1 ring-inset ring-gray-300 dark:ring-gray-500">
    </div>
    <div class="grid justify-end p-2">
        <button class="rounded-lg bg-indigo-600 text-white text-sm font-semibold py-2 px-3">Guardar cambios</button>
    </div>
</div>
