<app-loading></app-loading>
<body class="bg-white dark:bg-gray-900 min-h-screen">
    <div class="drawer drawer-end">
        <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
        <div class="drawer-content">
            <app-navigation></app-navigation>
            <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                <router-outlet></router-outlet>
            </main>
        </div>
        <div class="drawer-side">
            <label for="my-drawer-4" class="drawer-overlay"></label>
            <div
                class="p-2 w-10/12 sm:w-8/12 md:w-6/12 lg:w-3/12  bg-base-100 dark:bg-gray-800 text-base-content dark:text-white">
                <div *ngFor="let product of myCart$ | async" class=" my-1">
                    <div class="grid grid-cols-6 rounded-lg border border-gray-700">
                        <div class="col-span-3 p-2">
                            <a href="producto/{{product.slug}}">
                                <img class="w-auto max-h-[100px] object-contain mx-auto rounded-lg"
                                    src="{{ product.images[0] }}" alt="">
                            </a>
                        </div>
                        <div class="col-span-3 p-2">
                            <a href="producto/{{product.slug}}">
                                <div class="flex uppercase">
                                    <h2 class="card-title text-sm line-clamp-1">{{ product.name }}</h2>
                                </div>
                                <p class="tracking-tighter uppercase line-clamp-1 text-xs text-gray-500">{{
                                    product.description }}</p>
                                <div class="flex">
                                    <p class="text-md font-medium text-gray-900 dark:text-white text-end">{{
                                        product.price |
                                        currency }}</p>
                                    <p *ngIf="product.old_price > 0" class="text-xs font-light text-gray-500 line-through text-start">{{ product.old_price | currency }}</p>
                                </div>
                            </a>
                            <button (click)="addOne('minus', product._id)"
                                class="text-xs font-light text-red-600 line-through text-start"><i
                                    class="fa-solid fa-trash"></i></button>
                            <span class="px-3 inline-block align-middle">{{ product.quantity }}</span>
                            <button (click)="addOne('add', product._id)"
                                class="text-xs font-medium text-blue-400 text-end pr-3"><i
                                    class="fa-solid fa-plus"></i></button>
                            <span class="font-semibold uppercase text-sm lg:float-right">Total: <span
                                    class="font-light">{{
                                    totalProduct(product.price, product.quantity) | currency }}</span></span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-between font-semibold px-6">
                    <p>Total:</p>
                    <span>{{ totalCart() | currency}}</span>
                </div>
                <button class="btn btn-accent mt-3 w-full" (click)="goToCheckout()">Ir a pagar</button>
                <button (click)="emptyList()"
                    class="border border-gray-600 rounded-lg px-4 py-4 mt-3 cursor-pointer font-semibold uppercase transition duration-200 ease-in-out hover:bg-gray-700 text-xs text-gray-600 dark:text-gray-400 hover:text-gray-300 w-full"><i
                        class="fa-solid fa-trash pr-1"></i>Vaciar carrito de compras</button>
            </div>
        </div>
    </div>
    <div class="relative">
        <a href="https://api.whatsapp.com/send?phone=524641597276" class="absolute bottom-5 right-10">
            <img src="assets/img/WhatsApp.svg" alt="" width="64" height="64">
        </a>
    </div>
</body>