<div class="dark:text-white rounded-lg border border-gray-200 dark:border-gray-700 my-3">
    <div class="flex justify-between p-3">
        <div class="">
            <h1 class="text-xl ">
                <a (click)="asideMenu()" class="cursor-pointer">
                    <i class='bx bx-menu bx-sm inline-block align-middle mr-1'></i>
                </a>
                Menu
            </h1>
        </div>
    </div>
</div>
<div class="grid grid-cols-8 lg:grid-cols-12 gap-2 mb-6">
    <div *ngIf="menu" class="col-span-2 rounded-lg overflow-hidden bg-gray-100 dark:bg-gray-800 dark:text-white">
        <a routerLink="stats" routerLinkActive="bg-custom-400 text-white"
            class="block border border-gray-200 hover:bg-blue-500 hover:text-white dark:border-gray-700 rounded-lg m-2 px-1 py-2"><i
                class='bx bx-bar-chart-alt-2 bx-sm inline-block align-middle mr-1'></i><span
                class="hidden invisible md:visible md:inline-flex">Estadísticas</span></a>
        <a routerLink="categories" routerLinkActive="bg-custom-400 text-white"
            class="block border border-gray-200 hover:bg-blue-500 hover:text-white dark:border-gray-700 rounded-lg m-2 px-1 py-2"><i
                class='bx bx-category bx-sm inline-block align-middle mr-1'></i><span
                class="hidden invisible md:visible md:inline-flex">Categorías</span></a>
        <a routerLink="subcategories" routerLinkActive="bg-custom-400 text-white"
            class="block border border-gray-200 hover:bg-blue-500 hover:text-white dark:border-gray-700 rounded-lg m-2 px-1 py-2"><i
                class='bx bx-category bx-sm inline-block align-middle mr-1'></i><span
                class="hidden invisible md:visible md:inline-flex">Subcategorías</span></a>
        <a routerLink="products" routerLinkActive="bg-custom-400 text-white"
            class="block border border-gray-200 hover:bg-blue-500 hover:text-white dark:border-gray-700 rounded-lg m-2 px-1 py-2"><i
                class='bx bx-cart-alt bx-sm inline-block align-middle mr-1'></i><span
                class="hidden invisible md:visible md:inline-flex">Productos</span></a>
    </div>
    <div [ngClass]="{'col-span-8 lg:col-span-12': menu===false}"
        class="col-span-6 lg:col-span-10 bg-gray-100 dark:bg-gray-800 rounded-lg p-3">
        <router-outlet></router-outlet>
    </div>
</div>