<div
    class="dark:bg-gray-800 rounded-lg shadow-lg border border-gray-300/60 dark:border-0 dark:text-white divide-y divide-gray-200 dark:divide-gray-700 mb-3">
    <div class="dark:border-gray-700 p-3">
        <a routerLink="/perfil/compras" class="inline-block align-middle pr-3"><i class='bx bx-arrow-back bx-sm'></i></a>
        <span class="dark:text-white text-xl font-semibold">Rastreo del pedido #0126</span>
    </div>
    <div class="grid grid-cols-2 p-3">
        <div class="col-span-1">
            <p class="font-semibold text-lg">Enviado a:</p>
            <p class="dark:text-gray-400">Calle 4 30
                A lado de la bola de agua
                Ampliación Bellavista, 36730
                Salamanca, Guanajuato, México.</p>
            <p class="font-semibold text-lg py-2">Total:</p>
            <p class="dark:text-gray-400">$938.00</p>
        </div>
        <div class="col-span-1">
            <p class="font-semibold text-lg pb-2">Pedido el:</p>
            <p class="dark:text-gray-400">09/05/22</p>
            <p class="font-semibold text-lg py-2">Paquetería:</p>
            <p class="dark:text-gray-400">Estafeta Terrestre</p>
            <p class="font-semibold text-lg py-2">Entregado:</p>
            <p class="dark:text-gray-400">12 de Mayo del 2022 a las 12:05:00</p>
        </div>
    </div>
    <div class="grid lg:grid-cols-6 gap-3 p-3">
        <div class="col-span-3 lg:col-span-1">
            <img class="bg-cover bg-center max-w-28 max-h-28 rounded-lg"
                src="https://http2.mlstatic.com/D_724624-MLA48636298719_122021-N.jpg" alt="">
        </div>
        <div class="col-span-3 lg:col-span-3">
            <p class="text-lg font-semibold">1x</p>
            <span class="dark:text-gray-400 text-lg line-clamp-1 mt-2">memoria-ram-fury-beast-ddr4-gamer-color-negro-16gb-1-kingston-kf426c16bb116</span>
        </div>
        <div class="col-span-6 lg:col-span-2">
            <p class="font-semibold lg:pt-8 lg:text-center">1 Paquete</p>
        </div>
        <div class="col-span-6">
            <div class="grid grid-cols-4">
                <div class="col-span-6 lg:col-span-2">
                    <p class="font-semibold">Guía</p>
                    <p class="dark:text-gray-400">5058553770552706269491</p>
                </div>
                <div class="col-span-6 lg:col-span-1">
                    <p class="font-semibold">Recolección</p>
                    <p class="dark:text-gray-400">10/05/22 16:44:00</p>
                </div>
                <div class="col-span-6 lg:col-span-1">
                    <p class="font-semibold">Estado</p>
                    <p class="dark:text-gray-400">Entregado</p>
                </div>
            </div>
        </div>
    </div>
</div>